{% extends 'base.html' %}
{% block content %}

  {% if t==1 %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(0, 102, 255)">Your Sentence is:"{{x}}" </h3>
    <h3 style="color:rgb(255, 0, 0)">This is a Spam message</span>.</h3>
    <h3 style="color:rgb(0, 102, 255)">Check for another sentence</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h1 style="color:rgb(0, 102, 255)">Your Sentence is:"{{x}}"</h1>
    <h3 style="color:rgb(0, 255, 0)">This is not a Spam message</span></h3>
    <h3 style="color:rgb(0, 102, 255)">Check for another sentence</h3>
  </div>
  {% endif %}

{% endblock %}